{% extends 'base.html' %}

{% block head %}
{{ super() }}
<script src="https://vk.com/js/api/openapi.js?160" type="text/javascript"></script>
<script type="text/javascript">
var vkAppId = 7011048;
    if (vkAppId) {
        VK.init({ apiId: vkAppId });
    }

function postWall()
    {
        VK.Auth.login
        (
            function(response)
            {
                if (response.session)
                {
                    var userId = response.session.mid;
                    VK.Api.call('wall.post',
                    {owner_id: userId, message: '123', v:"5.95"}, function (data) {
                        if (data.response)
                        {
                        alert('Запись успешно добавлена!');
                        }
                    });
                }
            },
            8192
        )
    }
        
</script>
{% endblock %}

{% block title %}{{ _('Upload') }}{% endblock %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/dropzone.min.css') }}" type="text/css">
    {{ dropzone.style('margin: 20px 0; border: 2px dashed #0087F7; min-height: 400px;') }}
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ _('Upload') }}</h1>
    </div>
    <div class="row">
        <div class="col-md-12">
            {{ dropzone.create(action='main.upload') }}
            <a class="btn btn-light float-right" href="{{ url_for('user.index', username=current_user.username) }}">
                {{ _('Done') }}
            </a>
            <a href="javascript:void(0);" onclick="postWall();">Click to authorize</a>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="{{ url_for('static', filename='js/dropzone.min.js') }}"></script>
    {{ dropzone.config() }}
{% endblock %}
